<section>
  <h2> <%= @spell.name %> </h2>
  <article class="a-spell">
    <h3> <%= @spell.price %> gold nuggets</h3>
    <p>
      <%= @spell.description %>
    </p>
    <span>
      <a href="/">back to home</a>
    </span>
  </article>
</section>
